<app-navigation></app-navigation>
<div class="container">
  <div class="col-centered panel panel-default">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h2 class="title">Liste des livres disponibles</h2>
      </div>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Éditer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td class="icone"><i class="fa fa-edit"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>