<app-navigation></app-navigation>
<div class="container">
  <div class="col-centered panel panel-default">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h2 class="title">Liste des livres disponibles</h2>
      </div>
    </div>
    <div class="panel-body">
      <app-search-book-admin></app-search-book-admin>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Éditer</th>
            <th scope="col">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of Books">
            <th scope="row">{{book.id}}</th>
            <td>{{book.title}}</td>
            <td class="icone">
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-edit"></i>
              </button>
            </td>
            <td class="icone">
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>