<div class="droite"> 
        <form>
              <input type="text" placeholder="Search.." id="search" [(ngModel)]="searchTerm.title" name="title">
              <button (click)="search()"><i class="fa fa-search"></i></button>
        </form>
      </div>
       <!--<div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Éditer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of Books">
            <th scope="row">{{book.id}}</th>
            <td>{{book.title}}</td>
            <td class="icone"><i class="fa fa-edit"></i></td>
          </tr>
        </tbody>
      </table>
    </div>-->