<div class="container">
		<div class="col-centered panel panel-default">
 <div class="panel-heading text-center">Connexion</div>
  <div class="panel-body">
	  <div class="col-centered col-sm-7">
				<div class="account-wall">
					<div class="col-centered">
					<i class="fas fa-user" style="font-size: 48; text-align: center; padding: 10px 0; margin: 0 auto"></i>
					</div>
					<form class="form-signin" method="post" action="login">
						<input id="email" type="text" class="form-control" name="email" [(ngModel)]="identifiants.email" placeholder="Email"> 
						<input id="password" type="password" class="form-control" name="password" [(ngModel)]="identifiants.password"  placeholder="Password">
						<button (click)="login()" class="btn btn-lg btn-primary btn-block">
							Sign in</button>
					</form>

				<a href="register" class="text-center new-account">Create an account </a>
				</div>
				</div>
			</div>
		</div>
	</div>