<app-navigation></app-navigation>

<div class="container">
  <div class="col-centered panel panel-default">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h2 class="title">Administration</h2>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-sm-10 col-centered">
        <button class="btn btn-lg btn btn-dark btn-block" (click)="redirect('/listMember')">Gestion des membres</button>
        <button class="btn btn-lg btn btn-dark btn-block disabled" (click)="register()">Gestion des exemplaires</button>
        <button class="btn btn-lg btn btn-dark btn-block" (click)="redirect('/listBook')">Gestion des livres</button>
        <button class="btn btn-lg btn btn-dark btn-block disabled" (click)="register()">Gestion des auteurs</button>
        <button class="btn btn-lg btn btn-dark btn-block disabled" (click)="register()">Gestion des éditeurs</button>
        <button class="btn btn-lg btn btn-dark btn-block disabled" (click)="register()">Gestion des bibliothèques</button>
        <button class="btn btn-lg btn btn-dark btn-block disabled" (click)="register()">Gestion des retards</button>
      </div>
    </div>
  </div>
</div>