/* You can add global styles to this file, and also import other style files */
.col-centered{
    float: none;
    margin: 0 auto;
}

.marge-tb{
    float: none;
    margin: 30px auto;
}

.carrousel-size{
    min-height: 500px
}