<app-navigation></app-navigation>
<div class="container">
  <div class="col-centered panel panel-default">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h2 class="title">Mon compte</h2>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-sm-10 col-centered">
        <button class="btn btn-lg btn btn-dark btn-block" (click)="register()">Mes informations</button>
        <button class="btn btn-lg btn btn-dark btn-block" (click)="register()">Mes commandes</button>
        <button class="btn btn-lg btn btn-dark btn-block" (click)="register()">Mes prêts en cours</button>
        <button class="btn btn-lg btn btn-dark btn-block" (click)="register()">Mes prêts terminés</button>
      </div>
    </div>
  </div>
</div>